---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>
 
  <div class="mb-10 text-justify">
    I am Bibek Bhatta, a student who loves everything that flies and thinks. Whether it is
    a rocket, a drone, or a neural network, I am fascinated by how they work and what
    they can do. I have self-taught myself many skills and tools in AI/ML, such as
    Python, TensorFlow, PyTorch, and OpenCV. I enjoy coding for fun and solving
    challenging problems. I am always eager to learn and explore. I have participated in
    several hackathons and online competitions, where I have shown my creativity and
    innovation. I believe that life is a journey of learning and discovery, and I want to
    make the most of it.    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="St.Xavier's College"
      subtitle="2021 to 2023, A-Level, Kathmandu, Nepal"
    />
    <TimeLineElement
      title="Little Buddha Academy"
      subtitle="2010 to 2021 at Upper Kinder Garden to Class 10, Mahendranagar, Nepal"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Technical Lead and Community Manager"
      subtitle="From 2021 to 2024 at Mathematical Association of Nepal, Kathmandu, Nepal"
    >
     Developed various internal tools for the math olympiad in Nepal. Used Python, Svelte-kit and Firebase for the development. Extensively tested other frameworks in Rust and Go too.  
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>Python</li>
    <li>TensorFlow</li>
    <li>PyTorch</li>
    <li>OpenCV</li>
    <li>Rust</li>
    <li>C</li>
    <li>Godot Engine</li>
    <li>Svelte-kit</li>
    <li>Tauri</li>
    <li>Three-JS</li>
    
  </ul>
  
  <div class="flex justify-center w-full ">
    <form method="get" action="cv_img/bb_cv.pdf">
      <button class="btn btn-outline btn-primary">Download CV</button>
    </form>
  </div>
</BaseLayout>
